<nav>
    <a routerLink="/home" >Home</a>
    <a routerLink="/signup">Signup</a>    
    <a routerLink="/login">Login</a>
    <a routerLink="/search">Search</a> 
    <a routerLink="/profile" class="active">Profile</a>  
    <a routerLink="/about">About</a>           
</nav>

<div class="content">
  <div class="cover-profile">
    <div class="cover">
      <img src="https://files.slack.com/files-pri/THFRRA0JH-FJFDDNUTV/domain.png" alt="dwight-brown">
    </div>
    <div class="profile">


    </div>
    <div class="name">


    </div>
  </div>
</div>