<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <span style="font-size:30px;cursor:pointer" class="sidemenu"(click)="openNav()">&#9776;</span>
    <input type="text" class="form-control mr-sm-2" placeholder="Search..."  [(ngModel)]="searched"> 
    <button class="btn btn-success" type="submit" (click)="search()">Search</button>   
    <input type="text" class="form-control mr-sm-2" placeholder="Search Ingredients" [(ngModel)]="searched2"> 
    <button class="btn btn-success" type="submit" (click)="searchIng()">Search</button>   
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <h1>Menu</h1>
        <div class="row">
            <a routerLink="/login">Login</a>
        </div>
        <div class="row">
            <a routerLink="/signup">Signup</a>
        </div>
        <div class="row" *ngIf="tokenValid()">
            <a routerLink="/profile">Profile</a> 
        </div>  
      </div>  
      <a routerLink="/home" class="active">Home</a> 
      <a routerLink="/about">About</a>
      <a routerLink="/home" (click)="clearStorage()" *ngIf="tokenValid()">Logout</a>
    
</nav>


<video autoplay muted loop id="myVideo">
  <source src="/assets/videos/bjN1-C76ugQ.mp4" type="video/mp4">
</video>
