

.content {
  width: 100%;
  height: 90vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontent {
  margin: 10px;
  width: 23%;
  height: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.3s ease;
}
.subcontent:hover{
  width: 28%;
  height: 85%;
}

.subcontent .top{
  width: 100%;
  height: 60%;
  background: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontent .belt{
  width: 100%;
  height: 10%;
  background: #7D7D7D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontent .bottom{
  width: 100%;
  height: 30%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.subcontent .top img{
  width: 120%;
  height: 100%;
}


.subcontent .belt .btn{
  width: 100%;
  background: none;
  border: none;
  font-size: 20px;
  
}

.subcontent .bottom p{
  width: 100%;
  height: auto;
  text-align: center;
  
}

nav{
  display: flex;
  justify-content: right;
  background-color: #333;
  }
  
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
nav a:hover {
  background-color: #ddd;
  color: black;
  }
  
nav a.active {
  background-color: #4CAF50;
  color: white;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav h1{
    padding: 8px 8px 8px 32px;
    align-items: center;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidemenu {
    margin: 5px;
  }

 

  