<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <span style="font-size:30px;cursor:pointer" class="sidemenu"(click)="openNav()">&#9776;</span>
  <input type="text" class="form-control mr-sm-2" placeholder="Search..."  [(ngModel)]="searched"> 
  <button class="btn btn-success" type="submit" (click)="search()">Search</button> 
  <input type="text" class="form-control mr-sm-2" placeholder="Search Ingredients" [(ngModel)]="searched2"> 
  <button class="btn btn-success" type="submit" (click)="searchIng()">Search</button>     
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <h1>Menu</h1>
      <div class="row">
          <a routerLink="/login">Login</a>
      </div>
      <div class="row">
          <a routerLink="/signup" >Signup</a>
      </div>
      <div class="row" *ngIf="tokenValid()">
          <a routerLink="/add">Add a recipe</a> 
      </div>  
      <div class="row">
          <a routerLink="/profile" *ngIf="tokenValid()">Profile</a> 
      </div>  
    </div>  
    <a routerLink="/home">Home</a> 
    <a routerLink="/about" class="active">About</a>
    <a routerLink="/home" (click)="clearStorage()" *ngIf="tokenValid()">Logout</a>
  
</nav>

<div class="content d-flex flex-column">

    <h1 class="h1">Meet the Team</h1>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/megamitensei/images/d/d0/P5D_Morgana.png/revision/latest/scale-to-width-down/350?cb=20180209180424" alt="Photo of Erwin" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Erwin Garces</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://valerieherron.files.wordpress.com/2013/02/krtdl_kirby_hi2.png" alt="Photo of Thomas" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Thomas Kirby</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://pantograph0.goldbely.com/uploads/product_image/image/20213/cinnabon-classic-cinnamon-rolls.55da839aeb5dd4256b686eb079978156.jpg" alt="Photo of Chris" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Chris Copeland</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>


</div>
