<nav>
    <input id="button" type="button" routerLink="" value="Log Out" (click)="clearStorage()">
    <a routerLink="/home">Home</a>
    <a routerLink="/signup">Signup</a>    
    <a routerLink="/login">Login</a>
    <a routerLink="/search" class="active">Search</a>            
</nav>

<div class= "content">
    <div class="form-box">

        <div class="card">
            <img src="">
            <div class="container">
                <h4>lorem</h4>
                <p>stuff</p>
            </div>

        </div>

    </div>
</div>