<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
<body ng-app="">
<nav>
        <input id="button" type="button" routerLink="" value="Log Out" (click)="clearStorage()">
        <a routerLink="/home">Home</a>
        <a routerLink="/signup" class="active">Signup</a>    
        <a routerLink="/login">Login</a>
        <a routerLink="/search">Search</a>            
</nav>

<div class= "content">
    <div class="form-box">
            <p *ngIf="lastStatus === 400">Username or password is incorrect.</p>
            <p *ngIf="lastStatus === 500">Unknown server error occurred.</p>
            <p *ngIf="lastStatus === 0">Server unreachable.</p>
    
            <form name="login-form">
            <div class="textbox">
                    <i class="fas fa-signature" aria-hidden="true"></i>
                <input type="text" placeholder="First Name" name="fname" required>
            </div>

            <div class="textbox">
                    <i class="fas fa-signature" aria-hidden="true"></i>
                <input type="text" placeholder="Last Name" name="lname" required>
            </div>

            <div class="textbox">
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <input type="email" placeholder="Email" name="email" required>
            </div>    

            <div class="textbox">
                    <i class="fas fa-mask" aria-hidden="true"></i>
                <input type="text" placeholder="Username" name="username" required>
            </div>
    
            <div class="textbox">
                <i class="fas fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" name="password" required>
            </div>
            
            <div class="textbox">
                <i class="fas fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder=" Confirm Password" (blur)="confimPassword()" name="password2" required>
            </div>
        
            <input class="btn" type="submit" name="submit"  (click)="submit()" value="Signup">
            </form>
    </div>
</div>
</body>